
<div class="d-flex p-2 flex-column">
  <div class="d-flex flex-row">

    <h4>Ingrese los parametros iniciales</h4>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Aceptación</span>
      </div>
      <input type="text" class="form-control" placeholder="ej: 95" aria-describedby="basic-addon1" [(ngModel)]="aceptacion">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Alfa (%)</span>
      </div>
      <input type="text" class="form-control" placeholder="ej: 5" aria-describedby="basic-addon1" [(ngModel)]="alfa">
    </div>
  </div>
  <br>
  <br>
  <div class="d-flex flex-row justify-content-center">
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="generarValidacion()">Validación</button>
  </div>
  <br>

  <div *ngIf="validando" class="d-flex flex-row justify-content-center">
    <div class="d-inline-flex p-2 flex-column">
      <h4>Resultados</h4>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">n</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1" [(ngModel)]="n" readonly>
      </div>


      <br>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Jugada</th>
            <th scope="col">O(i)</th>
            <th scope="col">Probabilidad</th>
            <th scope="col">E(i)</th>
            <th scope="col">(Ei-Oi)^2/Ei</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tabla">
            <th scope="row">{{row[0]}}</th>

            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
          </tr>
          <tr>
        </tbody>
      </table>
      <br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Sumatoria</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1" [(ngModel)]="sumatoria" readonly>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Estadistico Chi</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1" [(ngModel)]="estadisticoChi" readonly>
      </div>
      <br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Cumple</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1" [(ngModel)]="cumple" readonly>
      </div>
    </div>
    </div>
</div>
<div class="d-flex justify-content-end">

  <app-lista-numeros [listaNumeros]="listaNumeros"></app-lista-numeros>
</div>

